src/main/mule/aligitpoc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d21fb126-a6a2-4fc4-9638-931f0baf9e41" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="aligitpoc1Flow" doc:id="41d17be3-0355-43a7-b1d3-2a40d2fefe67" >
		<http:listener doc:name="Listener" doc:id="0ecbeba6-13cc-4b7d-ab1a-f35884afbd42" config-ref="HTTP_Listener_config" path="/ali"/>
		<logger level="INFO" doc:name="Logger" doc:id="b5596a41-1ba4-4bdd-9b16-e33d0c94a811" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="93924307-af23-4f03-8513-99fed809fe6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<async doc:name="Async" doc:id="ad28f78a-b1e3-4586-8957-00147e0484f6" >
			<logger level="INFO" doc:name="Logger" doc:id="6b81d1d0-5e1b-42c7-936c-209c555051c5" />
			<logger level="INFO" doc:name="Logger" doc:id="9834db97-30de-4d4e-aa71-284928362ee9" />
		</async>
	</flow>
</mule>
