src/main/mule/gittestpoc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="986f5b6b-1cd2-4fdd-a515-f3ef34325f3e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gittestpoc1Flow" doc:id="ed1761ff-a963-4803-80e1-ad2ce96305fb" >
		<http:listener doc:name="Listener" doc:id="cc320d2b-7df0-446d-8d6f-6dd2cffee647" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="9b4ae2ae-b34c-4193-b014-5c3855d1ebbb" />
		<ee:transform doc:name="Transform Message" doc:id="cf91b2fc-d2d3-4b20-b33e-04a16cca1fed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9ed932c1-1ff3-4137-9da7-90afbd239ef9" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ece25f98-9163-4caa-9912-e9552f45116f" />
		<logger level="INFO" doc:name="Logger" doc:id="8f571b8f-6070-4e68-8b29-3244d8106f63" />
	</flow>
</mule>
